:root{
    --light-grey: #666666;
    --blusih-white: #e6eBed;
    --opq-black: rgba(0, 0 , 0, 0.2);
    --white-2: #ffffff;
}
/* body */
html{
    position: relative;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--light-white);
    color: var(--light-grey);
    font-family: "Montserrat",sans-serif;
}
/* font icons */
.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
}
/* container */
.grid-container{
    display: grid;
    grid-template-columns: 275px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main"; 
    height: 100vh;
}
/* header */
.header{
    grid-area: header;
    background-color: var(--white-2); 
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 6px 7px -4px var(--opq-black);
}
/* sidebar */
.sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    overflow-y: auto;
    transition: all 0.5s;
    --webkit-transition: all 0.5s;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}
.sidebar-title>span{
    display: none;
}
.sidebar-brand{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
.sidebar-list{
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}
.sidebar-list-item{
    padding: 20px;
}
.sidebar-list-item:hover{
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
#sidebar-responsive{
    display:inline;
    position: absolute;
    z-index: 1000;
    height: 100%;
}
/* main-container */
main{
    grid-area: main;
    overflow-y: scroll;
}
#main-container{
    padding: 20px 20px;
}
.menu-icon{
    display: none;
}
.main-title{
    display:flex;
    justify-content: space-between;
}
.main-title > p{
    font-size: 20px;
}
.main-cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    margin: 20px 0;
}
/* cards */
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px var(--opq-black);
}
.card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-blue{
    color: #246dec;
}
.text-orange{
    color: #f5b74f;
}
.text-green{
    color: #367952;
}
.text-red{
    color: #cc4c43;
}
.card:first-child{
    border-left: 7px solid #246dec;
}
.card:nth-child(3){
    border-left: 7px solid #367952;
}
.card:nth-child(2){
    border-left: 7px solid #f5b74f;
}
.card:nth-child(4){
    border-left: 7px solid #cc4c43;
}
.card>span{
    font-size: 20px;
    font-weight: 600;
}
.card-inner>p{
    font-size: 11px;
}
.card-inner > span{
    font-size: 25px;
} 
/* charts */
.charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.charts-card{
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0 , 0, 0.2);

}
.chart-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}
.lifeline{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    grid-template-rows: 1;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.heading button{
    background-color: #21232d;
    color: white;
    border: 0px;
    padding: 8px;
    border-radius :4px;
}
#consumer{
    padding: 20px;
    border: 1px solid #d2d2d3;
    box-shadow: 0 6px 7px -4px rgba(0, 0 , 0, 0.2);
}
#buyer{
    padding: 20px;
    border: 1px solid #d2d2d3;
    box-shadow: 0 6px 7px -4px rgba(0, 0 , 0, 0.2);
}
.form{
    border: 1px solid #d2d2d3; 
    padding: 50px;
    position :relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    scale: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.absolute{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@keyframes example {
    0%{
        scale: 0.1;
    }
    50%{
        scale: 0.5;
    }
    100%{
        scale: 1.2;
    }
}
@media screen and (max-width: 992px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        grid-area: "header"
         "main";
    }
    .sidebar{
        position:absolute;
        z-index: 10000;
        display:none;
    }
    .menu-icon{
        display: inline;
    }
    .sidebar-title > span{
        display: inline;
    }
}
@media screen and (max-width:760px){
    .main-cards{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .charts{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    .lifeline{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
}
@media screen and (max-width:576px){
    .main-cards{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }
}
.data_set{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.data_set p{
    color: black;
}
#logout{
    all: unset;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    background-color: #21232d;
    padding: 1vh;
    border-radius: 5px;
}
#products{
    margin: 20px;
    padding: 20px;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    padding: 10px 20px;
    font-size: 4vh;
    text-align: justify;
    font-weight: 500;
}
th{
    font-weight: 800;
}
.hide{
    display:none;
}
/* add */
input[type=text],input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin:0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #21232d;
  color: white;
  padding: 14px 20px;
  margin: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}